.delete {
	background: #001aff;
	color: #fff;
	border: none;
	padding: 5px 9px;
	// border-radius: 50%;
	cursor: pointer;
	float: right;
}
.todo {
	background: #f4f4f4;
	padding: 10px;
	border-bottom: 1px #ccc dotted;
}
.completed {
	text-decoration: line-through;
}
